extends layout

block content
  //- Source: https://www.geeksforgeeks.org/node-js/tags-in-pug-view-engine/
  .customer_comments_page
    .header_container
      img.light_logo(src="/images/Downtown_Donuts_Light_Background.png" alt="Logo")
      h1.company_title= title
    h2 Customer Comments

    // creates a textarea and submit button to write and submit comments
    form(method='POST' action='/create')
      textarea(name='comment', id='comment', placeholder='Write a comment', rows='5', required)
      button(type='submit', id='submit_button') Submit Comment

    //- Display existing comments
    if comments && comments.length
      ul
        each c in comments
          li
            .comment_time Posted #{c.timeAgo}
            .comment_text= c.comment
    else
      p No comments yet.


    //- Creates the buttons to navigate to the other pages 
    footer
      button(type='button', class='goToMenu') Go to the Menu Page
      button(type='button', class='goToAboutUs') Go to the About Us Page
      button(type='button', class='goToLandingPage') Go to the Landing Page