extends layout

block content
  //- Source: https://www.geeksforgeeks.org/node-js/tags-in-pug-view-engine/
  .customer_comments_page
    .header_container
      img.light_logo(src="/images/Downtown_Donuts_Light_Background.png", alt="Downtown Donuts logo")
      h1.company_title= title
    h2 Customer Comments

    // creates a textarea and submit button to write and submit comments
    form(method='POST' action='/create')
      label(for='comment') Your Comment
      textarea(name='comment', id='comment', placeholder='Write a comment', maxlength="255", rows='3', required)
      button.submit_button(type='submit', id='submit_button') Submit Comment

    //- Display existing comments
    if comments && comments.length
      ul
        each c in comments
          li
            .comment_time Posted #{c.timeAgo}
            .comment_text= c.comment
    else
      p.empty_state Be the first to leave a comment 🍩
  
    //- Load More / See Less buttons
    .pagination
      // Load More (only if more comments exist)
      if limit < totalComments
        form(method='GET', action='/customer_comments')
          input(type='hidden', name='limit', value=limit + 10)
          button(type='submit') Load More

      // See Less (only if limit > 10)
      if limit > 10
        form(method='GET', action='/customer_comments')
          input(type='hidden', name='limit', value=10)
          button(type='submit') See Less

    //- Creates the buttons to navigate to the other pages 
    footer
      a(href='/menu', class='nav_button') Go to the Menu Page
      a(href='/about_us', class='nav_button') Go to the About Us Page
      a(href='/landing_page', class='nav_button') Go to the Landing Page