extends layout

block content
  // Source: https://www.geeksforgeeks.org/node-js/tags-in-pug-view-engine/
  .landing_page
    h1.company_title= title
    h2 Welcome to #{title}

    //- Description of the Company 
    p Our company has been serving the community delicious donuts since we first opened in 1992.
    | We deeply value our place in the community and are dedicated to producing delicious donuts
    | in a comforting atmosphere.

    //- Creates the buttons to navigate to the other pages 
    footer
      button(type='button', class='goToMenu') Go to the Menu Page
      button(type='button', class='goToAboutUs') Go to the About Us Page
      button(type='button', class='goToCustomerComments') Go to the Customer Comments Page


