extends layout

block content
  // Source: https://www.geeksforgeeks.org/node-js/tags-in-pug-view-engine/
  .menu_page
    h1.company_title= title
    h2 title Menu
    
    //- Creates the buttons to navigate to the other pages 
    footer
      button(type='button', class='goToLandingPage') Go to the Landing Page
      button(type='button', class='goToAboutUs') Go to the About Us Page
      button(type='button', class='goToCustomerComments') Go to the Customer Comments Page