extends layout

block content
  // Source: https://www.geeksforgeeks.org/node-js/tags-in-pug-view-engine/
  .menu_page
    .header_container
      img.dark_logo(src="/images/Downtown_Donuts_Dark_Background.png" alt="Logo")
      h1.company_title= title
    h2 Menu

    // Links to where to order
    .delivery_buttons
      a(href='https://www.ubereats.com/') Go to Uber Eats
      a(href='https://www.doordash.com/') Go to DoorDash
    
    //- Creates the buttons to navigate to the other pages 
    footer
      a(href='/landing_page', class='nav_button') Go to the Landing Page
      a(href='/about_us', class='nav_button') Go to the About Us Page
      a(href='/customer_comments', class='nav_button') Go to the Customer Comments Page