body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* .company_title {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
} */

.landing_page {
  background-color: #FFFF;
}

.menu_page {
  background-color: #FFFF;
}

.about_us_page {
  background-color: #FFFF;
}

.customer_comments_page {
  background-color: #FFFF;
}
